# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
logs
test_scripts
*.log
*.log.*
# *.json
# *.jsonl

# Editor
.idea
*.swp
.vscode

# Other
.DS_Store
wandb
output

checkpoints
project_checkpoints
debug_checkpoints
playground/data
playground/cc3m_llava34b_cap
ckpts*

.ipynb_checkpoints
chunyl_scripts
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
logs
scripts/dist_*
logs/
submissions/
# work_dirs

# Data
data/images
data/objhal_bench.jsonl
data/preference_train.json
data/vg
objhal_bench_answer.jsonl
chair_300.pkl

HaoyeZhang/
coco_annotations
outputs
runs_grid
objhal_bench_answer*
*pkl